{{- $title := .Title -}}
{{- if and (not $title) (not .Date.IsZero) -}}
  {{- $title = .Date.Format "January 2, 2006" -}}
{{- end -}}
{{- $kicker := .Params.kicker -}}
{{- if and .IsPage (not $kicker) .Title (not .Date.IsZero) -}}
  {{- $kicker = .Date.Format "January 2, 2006" -}}
{{- end -}}
{{- $updated := "" -}}
{{- if not .Params.feed_only -}}
  {{- $updated = .Params.updated -}}
{{- end -}}
{{- if and (not .Params.feed_only) .Params.updatedResource (not $updated) -}}
  {{- $updated = site.Params.blogrollupdated -}}
  {{- if and (not $updated) .File -}}
    {{- $resourcePath := path.Join .File.Dir .Params.updatedResource -}}
    {{- with os.Stat $resourcePath -}}
      {{- $updated = .ModTime -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $updatedLabel := .Params.updatedLabel | default "Last updated" -}}
<header class="intro">
  {{- with $kicker }}<p class="intro__kicker">{{ . }}</p>{{ end }}
  <h1 class="intro__title">{{ $title }}</h1>
  {{- with $updated }}
  {{- $updatedTime := time.AsTime . }}
  <p class="intro__updated">{{ $updatedLabel }}: <time datetime="{{ $updatedTime.Format "2006-01-02" }}">{{ $updatedTime.Format "January 2, 2006" }}</time></p>
  {{- end }}
  {{- if not .Params.feed_only -}}
  {{- with .Params.cover }}
  {{- with $.Resources.Get . }}
  {{ partial "responsive-image.html" (dict
    "image" .
    "alt" ""
    "class" "intro__cover"
    "pictureClass" "intro__cover-frame"
  ) }}
  {{- end }}
  {{- end }}
  {{- end }}
</header>
