{{ define "main" }}
  {{ .Content }}
{{ end }}

{{ define "page-aside" }}
  {{- $photos := slice
    (dict
      "image" "images/home-1.avif"
      "alt" "Dominik outdoors"
      "tooltip" "That's me, hi :)"
      "tooltipId" "home-photo-dominik-tooltip"
    )
    (dict
      "image" "images/home-2.avif"
      "alt" "Naida lying in the sun"
      "tooltip" "My dog Naida"
      "tooltipId" "home-photo-naida-tooltip"
    )
  -}}
  {{ partial "tilt-photo-pair.html" (dict "photos" $photos) }}
{{ end }}
