{{ define "main" }}
  {{ partial "page-title.html" (dict "kicker" .Params.kicker "title" .Title) }}
  {{ with .Content }}<div class="prose">{{ . }}</div>{{ end }}
{{ end }}

{{ define "page-aside" }}
  <div class="home-portraits">
    {{ with resources.Get "images/home-1.avif" }}
      <div class="home-portraits__card home-portraits__card--dominik" data-tilt>
        <img class="home-portraits__image" src="{{ .RelPermalink }}" width="2160" height="2880" alt="Dominik outdoors">
      </div>
    {{ end }}
    {{ with resources.Get "images/home-2.avif" }}
      <div class="home-portraits__card home-portraits__card--naida" data-tilt>
        <img class="home-portraits__image" src="{{ .RelPermalink }}" width="2160" height="2881" alt="Naida lying in the sun">
      </div>
    {{ end }}
  </div>
{{ end }}
