/* Fonts */
@font-face {
    font-family: "Newsreader";
    src: url("../fonts/Newsreader-Roman-VF.woff2") format("woff2");
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Newsreader";
    src: url("../fonts/Newsreader-Italic-VF.woff2") format("woff2");
    font-weight: 200 800;
    font-style: italic;
    font-display: swap;
}
