:root {
  /* Accent colors */
  --red: oklch(0.649 0.237 26.973);
  --orange: oklch(0.744 0.181 56.458);
  --yellow: oklch(0.865 0.177 90.382);
  --green: oklch(0.748 0.175 153.527);
  --teal: oklch(0.771 0.132 205.437);
  --blue: oklch(0.632 0.202 254.088);
  --violet: oklch(0.56 0.244 275.119);

  /* Theme — light */
  --bg: oklch(1 0 0);
  --primary: oklch(0.205 0 0);
  --secondary: oklch(0.439 0 0);
  --tertiary: oklch(0.709 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Theme — dark */
    --bg: oklch(0.145 0 0);
    --primary: oklch(0.985 0 0);
    --secondary: oklch(0.709 0 0);
    --tertiary: oklch(0.556 0 0);
  }
}
