/* Prose */
.prose {
    max-inline-size: var(--measure);
    color: var(--secondary);
    font-size: var(--text-base);

    > * + * {
        margin-block-start: var(--space-md);
    }

    h2,
    h3 {
        margin-block-start: var(--space-xl);
        color: var(--primary);
    }

    a {
        color: var(--primary);
        text-decoration-line: underline;
        text-decoration-style: wavy;
        text-decoration-color: var(--border);
        text-decoration-thickness: 1px;
        text-underline-offset: 0.2em;

        &:focus-visible {
            text-decoration-color: var(--accent);
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                text-decoration-color: var(--accent);
            }
        }

        @media (prefers-reduced-motion: no-preference) {
            transition: text-decoration-color 150ms ease;
        }
    }

    blockquote {
        padding-inline-start: var(--space-md);
        border-inline-start: 2px solid var(--border-light);
        color: var(--secondary);
        font-style: italic;
    }

    ul {
        padding-inline-start: 0;
        list-style: none;
    }

    ul li {
        position: relative;

        & + li {
            margin-block-start: 0.5rem;
        }

        &::before {
            content: "\2013";
            position: absolute;
            inset-inline-end: calc(100% + 1em);
        }
    }

    > p:has(> img:only-child) {
        inline-size: calc(100% + (2 * var(--breakout)));
        margin-inline: calc(var(--breakout) * -1);

        @media (width < 36rem) {
            inline-size: 100%;
            margin-inline: 0;
        }
    }

    > p > img:only-child {
        inline-size: 100%;
        border-radius: var(--radius-lg);
    }
}
