<div class="prose personal-bests-list">
  <ul>
    <li><strong>5k:</strong> 21:18 <time class="personal-best-date" datetime="2024-10-27">(27.10.24)</time></li>
    <li><strong>10k:</strong> 43:43 <time class="personal-best-date" datetime="2024-10-27">(27.10.24)</time></li>
    <li><strong>10 mile:</strong> 1:17:45 <time class="personal-best-date" datetime="2025-05-10">(10.05.25)</time></li>
    <li><strong>Half Marathon:</strong> 1:52:59 <time class="personal-best-date" datetime="2024-05-11">(11.05.24)</time></li>
    <li><strong>Marathon:</strong> 4:16:44 <time class="personal-best-date" datetime="2025-10-26">(26.10.25)</time></li>
    <li><strong>Longest Run:</strong> 42.4 km <time class="personal-best-date" datetime="2025-10-26">(26.10.25)</time></li>
  </ul>
</div>
